[submodule "modules/stdlib"]
    path = puppet/modules/stdlib
      url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/elasticsearch"]
    path = puppet/modules/elasticsearch
      url = https://github.com/elasticsearch/puppet-elasticsearch.git
[submodule "modules/apache"]
    path = puppet/modules/apache
      url = https://github.com/example42/puppet-apache.git
[submodule "modules/file_concat"]
    path = puppet/modules/file_concat
      url = https://github.com/electrical/puppet-lib-file_concat.git
[submodule "modules/kibana"]
    path = puppet/modules/kibana
      url = https://github.com/example42/puppet-kibana.git
[submodule "modules/logstash"]
    path = puppet/modules/logstash
      url = https://github.com/elasticsearch/puppet-logstash.git
[submodule "modules/puppi"]
    path = puppet/modules/puppi
      url = https://github.com/example42/puppi.git
[submodule "modules/stdmod"]
    path = puppet/modules/stdmod
      url = https://github.com/stdmod/stdmod.git
